.container {
    margin-bottom: 3%;
    width: 100%;
}

.containerInfo {
    text-align: center;
    width: 70%;
}

.divider {
    width: 1px;
    height: 40px;
    margin: 0px 20px;
    background-color: rgba(0, 0, 0, 1);
}