.chevron {
  transition: linear 0.3s;
}
.chevron_active {
  transform: rotate(180deg);
  transition: linear 0.3s;
}
.button {
  position: relative;
}
.selector {
  visibility: hidden;
  position: absolute;
}

.selectorActive {
  border-radius: 10px;
  background-color: gray;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  /* margin-left: 10%; */
  visibility: visible;
  padding: 20px;
}

.selectorOption {
  font-family: 'Montserrat', serif;
  font-size: 15px;
  color: rgb(215, 214, 213);
  padding: 3px;
  cursor: pointer;
  width: fit-content;
}

.selectorOption:hover {
  color: black;
  transition: linear 0.2s;
}
